*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial,sans-serif;
min-height:100vh;
background:linear-gradient(135deg,#6a11cb,#2575fc);
padding:20px;
}


.bg-logo{
position:fixed;
inset:0;
background-image:url("logo.png");
background-repeat:no-repeat;
background-position:center;
background-size:2000px;
opacity:0.5;
filter:blur(1px);
z-index:-1;
}


.container{
max-width:650px;
margin:auto;
}


h1,h2{
text-align:center;
color:white;
}


.card{
background:rgba(255,255,255,0.95);
padding:20px;
border-radius:20px;
margin:20px 0;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}


h3{
color:#6a11cb;
}


label{
display:block;
font-weight:bold;
margin-top:15px;
}


input{
width:100%;
padding:12px;
font-size:16px;
border-radius:10px;
border:1px solid #ccc;
}


.floating{
position:fixed;
right:20px;
top:50%;
transform:translateY(-50%);
z-index:9999;
}


.total-box{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
color:#2575fc;
font-size:22px;
font-weight:bold;
margin-bottom:15px;
}


button{
width:100%;
padding:15px;
border:0;
border-radius:15px;
background:#6a11cb;
color:white;
font-size:18px;
font-weight:bold;
}


@media(max-width:768px){

.floating{
left:15px;
right:15px;
bottom:15px;
top:auto;
transform:none;
display:flex;
gap:10px;
}

.total-box{
flex:1;
margin:0;
font-size:18px;
text-align:center;
}

button{
width:100px;
}

}
